# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.ai

/core/build/
/plugin-gradle/build/
/build/
/.idea/
/.kotlin/
/.gradle/
/gradle/plugins/build/kotlin-dsl/precompiled-script-plugins-metadata/accessors/70449a8cdc9e741818329e361a1cc785
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessors6xcmy081jxud3rx4r453mbm9f.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessors8lcri9ibgd9oj8dt3t8z8nvfx.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessors46nwrg1rs44ofdqpi7vyy3pfc.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorsasa455whv8s4bk3c97fzgde0p.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorsb13nju9doius8kxwhlptqirtr.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorsblypoh2ruc9u3bx9djsfqsntg.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorscchdiujech8u294vwhihsq7gh.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorse3bcayds3ygcyd5zodeo0v3sh.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-accessors/kotlin/gradle/kotlin/dsl/accessors/_2d455535e214e028ee1134837101970f/Accessorse6ex1mefr8h1znr2ivlnwcx4n.kt
/gradle/plugins/build/kotlin-dsl/precompiled-script-plugins-metadata/accessors/b2b34a8e2183a7da5dfe10be143cf4f6
/gradle/plugins/build/kotlin/compileKotlin/local-state/build-history.bin
/gradle/plugins/build/kotlin/compilePluginsBlocks/local-state/build-history.bin
/gradle/plugins/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/gradle/plugins/.gradle/buildOutputCleanup/cache.properties
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/buildOutputCleanup/cache.properties
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/8.12.1/checksums/checksums.lock
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/gradle/plugins/build/pluginDescriptors/com.akuleshov7.buildutils.publishing-configuration.properties
/gradle/plugins/build/resources/main/META-INF/gradle-plugins/com.akuleshov7.buildutils.publishing-configuration.properties
/gradle/plugins/build/pluginDescriptors/com.akuleshov7.buildutils.publishing-default-configuration.properties
/gradle/plugins/build/resources/main/META-INF/gradle-plugins/com.akuleshov7.buildutils.publishing-default-configuration.properties
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/counters.tab
/gradle/plugins/.gradle/8.12.1/executionHistory/executionHistory.bin
/gradle/plugins/.gradle/8.14.3/executionHistory/executionHistory.bin
/gradle/plugins/.gradle/8.12.1/executionHistory/executionHistory.lock
/gradle/plugins/.gradle/8.14.3/executionHistory/executionHistory.lock
/gradle/plugins/.gradle/file-system.probe
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/file-system.probe
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/8.12.1/fileHashes/fileHashes.lock
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/8.12.1/gc.properties
/gradle/plugins/build/tmp/generatePrecompiledScriptPluginAccessors/accessors9161589838886261000/.gradle/vcs-1/gc.properties
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/gradle/plugins/build/kotlin-dsl/precompiled-script-plugins-metadata/plugin-spec-builders/implicit-imports
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/last-build.bin
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/last-build.bin
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/lookups/lookups.tab_i.len
/gradle/plugins/build/tmp/jar/MANIFEST.MF
/gradle/plugins/.gradle/buildOutputCleanup/outputFiles.bin
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/gradle/plugins/build/classes/kotlin/main/META-INF/plugins.kotlin_module
/gradle/plugins/build/generated-sources/kotlin-dsl-external-plugin-spec-builders/kotlin/gradle/kotlin/dsl/plugins/_f0d5aad60ee1c3da10870bd492505139/PluginSpecBuilders.kt
/gradle/plugins/build/kotlin-dsl/plugins-blocks/compiled/META-INF/precompiled-script-plugin-plugins.kotlin_module
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/gradle/plugins/build/kotlin-dsl/plugins-blocks/extracted/com/akuleshov7/buildutils/publishing-configuration.gradle.kts
/gradle/plugins/build/kotlin-dsl/plugins-blocks/extracted/com/akuleshov7/buildutils/publishing-default-configuration.gradle.kts
/gradle/plugins/build/generated-sources/kotlin-dsl-plugins/kotlin/com/akuleshov7/buildutils/PublishingConfigurationPlugin.kt
/gradle/plugins/build/generated-sources/kotlin-dsl-plugins/kotlin/com/akuleshov7/buildutils/PublishingDefaultConfigurationPlugin.kt
/gradle/plugins/build/kotlin/compileKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/gradle/plugins/build/kotlin/compilePluginsBlocks/classpath-snapshot/shrunk-classpath-snapshot.bin
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/gradle/plugins/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/gradle/plugins/build/kotlin/compilePluginsBlocks/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
